<aside class="left-sidebar">
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <%# Link para a raiz usando o Helper do Rails %>
      <%= link_to root_path, class: "text-nowrap logo-img" do %>
        <%= image_tag "https://www.tjro.jus.br/templates/portal_tjro_helix_j5/images/presets/default/logo.png", width: "180", alt: "Logo TJRO" %>
      <% end %>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <%# Usando link_to com bloco para manter a estrutura de ícone + texto %>
          <%= link_to root_path, class: "sidebar-link", aria: { expanded: "false" } do %>
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          <% end %>
        </li>
        <%# Futuro: Aqui você pode adicionar o link para Projetos ou Analistas %>
        <%# Exemplo de como seria para Projetos: %>
        <%# <li class="sidebar-item"> %>
        <%#   <%= link_to g_projetos_path, class: "sidebar-link" do % > %>
        <%#     <span><i class="ti ti-file-description"></i></span> %>
        <%#     <span class="hide-menu">Projetos</span> %>
        <%#   <% end % > %>
        <%# </li> %>
      </ul>
    </nav>
  </div>
</aside>